.rectGrid {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;

  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;

  color: black;
}

.inputBox {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield; /* Firefox */
}

.inputBox {
  position: relative;
  display: flex;
  align-items: center;
}
.textB {
  margin-top: 30px;
  margin-bottom: 15px;
  color: rgba(107, 119, 119, 1);
  display: flex;
  font-size: 20px;
  justify-content: space-between;
}
.texts {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: rgba(107, 119, 119, 1);
}
.input {
  border: none;
  border-radius: 10px;
  background: rgba(243, 248, 251, 1);
  padding: 0.8rem 2rem;
  color: black;
  font-size: 20px;
  width: 100%;
  text-align: right;
  direction: ltr;
}

.hello {
  border-radius: 50%;
  height: 80%;
  aspect-ratio: 1;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: rgba(107, 119, 119, 1);
}
.image {
  height: 50%;
  aspect-ratio: 1;
  position: absolute;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  color: rgba(107, 119, 119, 1);
}
input:focus {
  outline: 1px solid green;
}

.customBox {
  border-radius: 10px;

  border: none;
  background: rgba(243, 248, 251, 1);
}

.custom {
  border: none;
  border-radius: 10px;
  background: rgba(243, 248, 251, 1);

  color: black;
  font-size: 20px;
  width: 100%;
  height: 100%;
  text-align: center;
  direction: ltr;
}
.custom::placeholder {
  color: rgba(0, 71, 75, 1);
  font-weight: bolder;
}
.custom::-webkit-inner-spin-button,
.custom::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom {
  -moz-appearance: textfield;
}
/*----------------------------BIll----------------------------*/

.tip {
  display: grid;

  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}
.tip1 {
  cursor: pointer;

  background: rgba(0, 71, 75, 1);
  border-radius: 10px;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
}
.tip1:hover {
  background: rgb(0, 50, 53);
}
.tip1:focus {
  background: rgb(0, 50, 53);
  outline: 3px solid rgb(0, 87, 128);
}
.error {
  color: red;
  font-size: 15px;
}

@media only screen and (max-width: 1080px) {
  .rectGrid {
    width: 100%;
  }
  .tip1 {
    font-size: 20px;
  }
  .textB,
  .texts {
    font-size: 25px;
  }
}

@media only screen and (max-width: 340px) {
  .rectGrid {
    width: 100%;
    padding: 0px;
  }
  .tip1 {
    font-size: 10px;
  }
  .textB,
  .texts {
    font-size: 15px;
  }
}
