.rectGrid {
  display: grid;
  grid-template-rows: auto auto auto;
  height: 100%;

  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;

  color: black;
}

@media only screen and (max-width: 1080px) {
  .rectGrid {
    width: 100%;
  }
  .tip1 {
    font-size: 20px;
  }
  .textB,
  .texts {
    font-size: 25px;
  }
}

@media only screen and (max-width: 340px) {
  .rectGrid {
    width: 100%;
    padding: 0px;
  }
  .tip1 {
    font-size: 10px;
  }
  .textB,
  .texts {
    font-size: 15px;
  }
}
